/FirstChapter/nbproject/private/
/FirstChapter/build/
/Exercise/nbproject/private/
/Exercise/build/
/FirstChapter/dist/
/SecondChapter/nbproject/private/
/GameLauncher/nbproject/private/
/CodingBat/nbproject/private/
/CodingBat/build/
/GameLauncher/build/